
/* Global Variables */

:root {
  --picture-layer-0: 0;
  --picture-layer-1: 1;
  --picture-layer-2: 2;
}



.App {
  text-align: center;
}



#Wall {
  width: 100vw;
  height: 54vw;
  opacity: 0.7;
}


#wallBack {
  width: 100vw;
  height: 82vh;
  position: static;

  background: black;
}

#wallPicture {
  width: 2vw;
}

.Title {
  display: flex;
  flex-direction: column; 
  position: absolute;
  font-family: Karla;
  font-style: normal;
  font-weight: bold;
  font-size: 15vw; 
  line-height: 14vw;
  text-align: center;
  letter-spacing: 0.075em;
  align-items:center;
  top: 10vw;
  color:white;
}

.textOverlay-white {
    color: white;
    position: absolute;
    top: 25%;
    left: 50%;
    transform: translate(-50%, -50%);

    font-weight: bold;
    font-family: Karla;
    font-size: 10vh;
    letter-spacing: 2px;
  }


/* Picture Positions, Mobile View*/

@media only screen and (max-width: 767px)  {

  #textSection {

    display: flex;
    flex-direction: column;


    font-family: Karla, sans-serif;
    font-size: 1.5vw;
    margin-top: 3vw;
    margin-bottom: 18vh;
    position: relative;
  }

  #GreenHand {
    display: none;
  }

  #PinkHand {
    display: none;
  }

  #RedHand {
    display: none;
  }

  #PeepsRight {
    display: none;
  }

  #PeepsLeft {
    display: none;
  }

  #GreenPuzzle {
    display: none;
  }

  #puzzle2 {
    position: absolute;
    width: 60vw;

    margin-left: 40vw;
    margin-top: 25vw;

    z-index: -1;
    opacity: 0.2;
  }

  #puzzle3 {
    position: absolute;
    width: 60vw;

    margin-top: 65vw;
    opacity: 0.2;
  }

  #pictureMobile {
    width: 84vw;
  }

  #textHolder {
    position: relative;
    width: 80vw;

    margin-left: auto;
    margin-right: auto;
    margin-top: 20vw;
    margin-bottom: -20vw;

    font-size: 2vh;
    text-align: left;
    line-height: 3.5vh;
  }

    #PictureHolder {
    display: none;
  }

}

/*Desktop view*/

@media only screen and (min-width: 768px) {


  #textSection {

    display: flex;
    flex-direction: column;


    font-family: Karla, sans-serif;
    margin-top: 3vw;
    margin-bottom: 20%;
    max-height: 22vh;
    position: relative;
  }


  #GreenHand {
    position: absolute;
    right: 3vw;


    height: 20vw;
    z-index: var(--picture-layer-1);
  }

  #PinkHand {
    position: absolute;
    left: 4vw;
    margin-top: -2vw;

    height: 12vw;
  }

  #RedHand {
    position: absolute;
    right: 3vw;
    margin-top: -12vw;
    height: 22vw;
    z-index: var(--picture-layer-2);
  }

  #GreenPuzzle {
    position: absolute;
    left: 10vw;
    margin-top: -12vw;

    z-index: var(--picture-layer-1);
    height: 45vw;
    min-height: 400px;
    opacity: 0.6;
  }

  #PeepsLeft {
    position: absolute;
    z-index: var(--picture-layer-0);

    margin-top: 14vw;
    left: 10vw;
    height: 10vw;

    z-index: 1;

  }

  #PeepsRight {
    position: absolute;
    z-index: var(--picture-layer-2);

    right: 15vw;
    height: 10vw;

    margin-top: 16vw;
  }

  #PictureHolder {
    /*border-radius: 10px;*/
    position: absolute;
    z-index: var(--picture-layer-0);

    top:-1vw;
    right: 15vw;
    height: 20vw;
    min-height: 0px;
  }

  #textHolder {
    z-index: var(--picture-layer-1);
    position: relative;
    width: 24vw;
    max-width: 30vw;

    font-size: 2vh;
    line-height: 3.5vh;
    text-align: left;

    left: 21vw;
    margin-top: 1vw;
  }

  #pictureMobile {
    display: none;
  }

  #puzzle2 {
    display: none;
  }

  #puzzle3 {
    display: none;
  }

}

@media screen and (max-width: 1200px) and (min-width: 600px) {

  #GreenPuzzle {
    display: none;
  }

  #GreenHand {
    display: none;
  }

  #PinkHand {
    display: none;
  }

  #RedHand {
    display: none;
  }

  #PeepsRight {
    display: none;
  }

  #PeepsLeft {
    display: none;
  }

  #textSection {

    display: flex;
    flex-direction: column;
    margin-bottom: 10%;

  }

  #textHolder {
    width: 80vw;
    max-width: none;
    font-size: 2vw;
    line-height: inherit;
    left: 0px;
    margin: 0 auto;
  }

  #PictureHolder {
    display: none;
  }

  #pictureMobile {
    display: none;
  }

  #puzzle2, #puzzle3 {
    display: none;
  }

}
