/* Desktop View */
@media only screen and (min-width: 768px) {
	.prompt {
		font-family: Karla, sans-serif;
	    font-size: 2.5rem;
	    margin: auto;
		margin-top: 4vw;
		margin-bottom: 4vw;
		text-decoration-color: #55917F;
		letter-spacing: .03em;
		width: 50%;
	}

	.longRectangle {
		display: none;
	}
}

@media only screen and (max-width: 768px) and (min-width: 600px) {
	.prompt {
		margin: auto;
		width: 50%;
	}
}


.sectionHeading {
	margin-bottom: 5vw;
}

.prompt {
	letter-spacing: .04em;
	font-size: 2rem;
	margin-bottom: 8vw;
	margin-top: 5vw;
}


.longRectangle {
	position: relative;
	margin-top: -300vw;
	width: 70vw;
	height: 2.5vw;

	margin-bottom: 2vw;


	z-index: -1;
}
