@import url('https://fonts.googleapis.com/css2?family=Raleway&display=swap');
@import url("https://use.typekit.net/trg6iqb.css");


:root {
  --forestgreen: #4DAB74;
  --seagreen: #57BE97;
  --mintgreen: #AFF1B9;
  --yellowish: #F2F3B7;
  --lmintgreen: #A2FFCB;
  --almostwhite:#D5EAE2;
  --white: #ffff;
  --black: #000000;
  --darkgrey: #202020;
  --neonpurple: transparent;
}

* {
  box-sizing: border-box;
  color: white;
}

#nav-logo, .not-register, .register, .toggleDiv {
  z-index: 2;
}

.nav-item *{
  font-family: myriad-pro, sans-serif;
  font-size: 30px;
  font-weight: 700;
  font-style: normal;
}

.not-register, .register {
  font-size: 1rem;
  font-family: myriad-pro, sans-serif;
  font-weight: 400;
  font-style: normal;
}

#topBarColor {
  background-color: #0072CE;
}

.topnav {
  overflow: hidden;
  background-color: var(--neonpurple);
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}

/* Style for logo items */
.topnav #nav-logo {
  display: flex;
  flex-direction: row;
  padding: 1vh 6vw;
  text-decoration: none;
}

.topnav #logo {
  width: 3vw;
  height: 3vw;
}

.topnav #name {
  margin-left: 24px;
  font-size: 150%;
  display: flex;
  align-items: center;
}

/* Styles for nav-items */
.topnav #nav-items{
  display: flex;
  flex-direction: row;
  align-items: center;
  padding: 1vh 2vw;
}

.toggleDiv {
  margin-right: 20px;
}

/* Style the topnav links */
.topnav .not-register, .button {
  padding: 1vh 2vw;
  text-decoration: none;
}

.not-register {
  color: #B5B3EE;
}

.not-register:hover {
  color: white;
  text-decoration-color: white;
  text-shadow: 0px -2px 4px #5601C1, 0px 2px 4px #6804CC, 0px 2px 5px #5601C1, 0px -2px 5px #6804CC;
}

/* nav-items hover effects */
.topnav .not-register:after {
  content: '';
  width: 0;
  height: 2px;
  display: block;
  margin-top: -2px;
  right: 0;
  background: white;
  transition: width .3s ease;
  opacity: 0.75;
}

.topnav .not-register:hover:after {
  width: 100%;
  left: 0;
  background: white;
  opacity: 0.75;
}

/* Button styles */
.button {
  color: white;
  background-color: var(--forestgreen);
  transition: 0.2s;
  border-radius: 20px;
  margin-left: 20px;
  margin-right: 20px;
  padding-left: 40px;
  padding-right: 40px;
}

/* Button hover effects */
.button:hover {
  color: white;
  text-decoration: none;
  background-color: #408D60;
}

@media screen and (max-width: 600px) {
  .topnav {
    background-color: transparent;
  }

  .topnav #name {
    display: none;
  }
}

/* Desktop View */
@media screen and (min-width: 900px) {
  .toggleDiv {
    display: none;
  }
}

@media screen and (max-width: 900px) and (min-width: 600px) {
  .topnav {
    background-color: transparent;
  }

  .topnav #name {
    display: none;
  }

  .topnav #nav-items {
    display: none;
  }

  .side-drawer ul {
    margin-top: 16vh;
  }
}
.toggle {
  position: absolute;
  top: .75 rem;
  right: 1rem;
  display: none;
  flex-direction: column;
  justify-content: space-between;
  width: 25px;
  height: 12px;
  z-index: 2;

}

.toggle .bar {
  height: 2px;
  width: 80%;
  background-color: white;
  border-radius: 10px;
  display: none;

}


@media screen and (max-width: 600px) {
  .toggle {
    position: absolute;
    top: .75 rem;
    right: 1rem;

    flex-direction: column;
    justify-content: space-between;
    width: 25px;
    height: 12px;
    z-index: 2;

  }
  .toggle .bar {
    height: 2px;
    width: 80%;
    background-color: white;
    border-radius: 10px;

  }
  .topnav #nav-items {
    position: fixed;
    width: 100vw;
    bottom: 0;
    display: none;
  }

  .topnav #nav-logo #logo {
    width: 12vw;
    height: 12vw;
    margin-left: 6px;
  }

}
