
/* ============================ */


/* Styles used throughout page */


/* ============================ */

@font-face {
    font-family: 'OpenMine';
    src: url('../fonts/OpenMine.ttf') format('truetype');
}

@import url('https://fonts.googleapis.com/css2?family=Raleway&display=swap');
@import url('https://use.typekit.net/trg6iqb.css');

:root {
    --forestgreen: #4DAB74;
    --seagreen: #57BE97;
    --mintgreen: #AFF1B9;
    --yellowish: #F2F3B7;
    --lmintgreen: #DCF4D4;
    --almostwhite: #D5EAE2;
    --white: #ffff;
    --black: #000000;
    --darkgrey: #202020;
}

* {
    box-sizing: border-box;
    color: white;
}

body {
    margin: 0;
    font-family: myriad-pro, sans-serif;
    font-size: 0.9vw;
}

#root {
    background-color: #FFB81C;
    z-index: -1;
}

#root p {
    color: white;
    font-family: myriad-pro, sans-serif;
    font-style: normal;
}


/*font sizes*/


/*Header Size (projects, our community,...) */

h1 {
    font-size: 8vh;
}

h2 {
    font-size: 4.5vh;
}

h3 {
    font-weight: 400 !important;
    font-size: 200%;
}

p {
    font-size: 2vh;
}

strong {
    color: white;
}


/* Style the content */

.content {
    text-align: left;
    line-height: 3.5vh;
    background-color: #FFB81C;
}

.puzzle {
    position: absolute;
    opacity: 0.5;
}


/* ============================ */


/* NAVBAR */


/* ============================ */

.toggle {
    position: absolute;
    top: .75 rem;
    right: 1rem;
    display: none;
    flex-direction: column;
    justify-content: space-between;
    width: 25px;
    height: 12px;
    z-index: 2;
}

.toggle .bar {
    height: 2px;
    width: 80%;
    background-color: var(--forestgreen);
    border-radius: 10px;
}

.topnav #name-mobile {
    font-size: 150%;
}

.topnav {
    overflow: hidden;
    background-color: var(--lmintgreen);
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}


/* Style for logo items */

.topnav #nav-logo {
    display: flex;
    flex-direction: row;
    padding: 1vh 2vw;
    text-decoration: none;
}

.topnav #logo {
    width: 3vw;
    height: 3vw;
}

.topnav #name {
    margin-left: 24px;
    font-size: 150%;
    display: flex;
    align-items: center;
}


/* Styles for nav-items */

.topnav #nav-items {
    display: flex;
    flex-direction: row;
    align-items: center;
    padding: 1vh 2vw;
}


/* Style the topnav links */

.topnav .not-register,
.button {
    padding: 1vh 2vw;
    text-decoration: none;
}


/* nav-items hover effects */

.topnav .not-register:after {
    content: '';
    width: 0;
    height: 2px;
    display: block;
    margin-top: -2px;
    right: 0;
    background: rgba(0, 0, 0, 0.84);
    transition: width .3s ease;
    opacity: 0.75;
}

.topnav .not-register:hover:after {
    width: 100%;
    left: 0;
    background: rgba(0, 0, 0, 0.84);
    opacity: 0.75;
}


/* Button styles */


/*
.button {
    color: white;
    background-color: var(--forestgreen);
    transition: 0.2s;
    border-radius: 12px;
}
*/


/* Button hover effects */


/*
.button:hover {
    background-color: #408D60;
}
*/


/* Mobile nav */


/* Portrait mode */


/* Landscape */

@media screen and (max-width: 900px) and (min-width: 600px) {
    .toggle {
        margin-top: 2vw;
        display: flex;
        z-index: 3;
    }
    .topnav #nav-logo #name {
        margin: auto;
        font-size: 200%;
    }
    .topnav #nav-logo #logo {
        width: 5vw;
        height: 5vw;
    }
    .topnav {
        flex-direction: column;
        align-items: flex-start;
    }
    .footerItems {
        width: 100%;
    }
}

.miniheader {
    font-family: myriad-pro, sans-serif;
    font-weight: 400;
    font-style: normal;
    font-size: 5vh !important;
    text-transform: uppercase;
    line-height: 1.5rem;
    height: 30px;
    width: calc(6rem);
    text-align: center;
    background-image: linear-gradient(to bottom, transparent, rgba(0, 114, 206, 0.7), transparent);
}

.mini-about {
    position: relative;
    margin-left: 83%;
}

.mini-visit {
    position: relative;
    /* margin-left: 45%; */
    margin-bottom: 1rem;
}

.mini-learn {
    position: relative;
    width: 7rem;
    margin-left: 45%;
    margin-bottom: 1rem;
}

.mini-faqs{
    position: absolute;
    margin-right: 10%;
    margin-top: 0.5em;
}

.mini-contact {
    position: relative;
    width: 10rem;
    margin-bottom: 1rem;
}

h2 {
  font-family: myriad-pro, sans-serif;
}

.headerTitle {
    font-family: myriad-pro, sans-serif;
    font-weight: 400;
    font-style: normal;
    font-size: 350%;
    letter-spacing: -1px;
    color: white;
    line-height: 60px;
}

.signup-section {
    padding: 30px;
}

.signup-section p {
    padding-top: 20px;
}

#ashley{
  padding-top: 300px;
}

#ashley h1 {
  font-weight: 800;
  padding-top: 30px;
}

#ashley mini-ashley {
  padding-left: 50%;
}

#ashleymission {
  text-align: left;
  margin-left: 10%;
}

#ashleyimg {
  width: 40%;
  height: auto;
  position: relative;
}

.learn-card {
  padding-top: 10px;
  text-align: center;
  text-transform: uppercase;
}

.learn-card img {
  position: relative;
  display: block;
  padding: 10px;
  overflow: hidden;
  width: 100%;
}
